#grid-frame {
    width: 960px;
    height: 960px;
    border: 2px solid maroon;
    display: flex;
    flex-flow: column;
}

.etch-row {
    display: flex;
    flex-flow: row wrap;
    flex: auto
}

.etch-pixel {
    display: flex;
    flex: auto;
}

.content {
    margin: 25px 0 25px;
}